{% extends "base.html" %}
{% block title %}<title>Comics | Archives</title>{% endblock %}
{% block body %}
<h3>Archives</h3>
<ul>
  {% if comicstrip_list %}
  {% for comic in comicstrip_list %}
  <img src="{{ comic.image_url}}"/>
  {% endfor %}
  {% else %}
  <p>Nothing here yet!</p>
  {% endif %}
</ul>
{% if page_obj %}
<nav>
  {% if page_obj.has_previous %}
  <a href="{% url 'comic-strip-list' %}?page={{ page_obj.previous_page_number }}">Previous</a>
  {% endif %}
  {% if page_obj.has_next %}
  <a href="{% url 'comic-strip-list' %}?page={{ page_obj.next_page_number }}">Next</a>
  {% endif %}
</nav>
{% endif %}
{% endblock %}
